<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/dashboard.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<%- include('partials/userheader') %>

<div class="container mt-5">
   <div class="row ">
      <h2 class="my-5">Select Category and Purchase</h2>
      <% categories.forEach(element => { %>

      <div class="col-md-4 my-2">
         <form action="/user/product" method="get">
            <input type="hidden" name="categoryId" value="<%= element._id %>">
            <div class="card animated-card shadow-lg">
               <button type="submit" style="width:100% ;border:none">
                  <img src="<%= element.image %>" class="card-img-top card-img" alt="Card Image" style="height:350px">
                  <div class="card-body text-center">
                     <h5 class="card-title"><%= element.categoryname %></h5>
                  </div>
               </button>
            </div>
         </form>
      </div>


      <% }) %>
   </div>
</div>
<div id="pagination" style="text-align: center; margin-bottom: 20px;">
   <% for (let i = 1; i <= page; i++) { %>
   <button onclick="loadPage('<%= i %>')" class="btn <%= i === selectedpage ? 'btn-danger' : 'btn-success' %>">
      <%= i %>
   </button>
   <% } %>
</div>
<%- include('partials/userfooter') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
   let debounceTimer;

   function searchItem(value) {
      clearTimeout(debounceTimer);
      debounceTimer = setTimeout(() => {
         const currentPage = 1; // Reset to the first page for a new search
         window.location.href = `/user/category?pagenumber=${ currentPage }&category=${ encodeURIComponent(value) }`;
      }, 700); // Adjust delay (in milliseconds) as needed
   }

   function loadPage(pageNumber) {
      const searchValue = document.getElementById('searchInput').value || '';
      window.location.href = `/user/category?pagenumber=${ pageNumber }&category=${ encodeURIComponent(searchValue) }`;
   }


</script>