<%- include('partials/admin') %>
<link rel="stylesheet" href="/order.css">
<div class="content">
   <div class="d-flex justify-content-between align-items-center mb-4">
      <h3 class="">Order Management</h3>
   </div>



   <!-- Table -->
   <div class="row search-bar">
      <div class="col-md-6 ">
         <div class="input-group">
            <span class="input-group-text bg-secondary text-light"><i class="fas fa-search"></i></span>
            <input type="text" id="searchInput" oninput="searchInvoice(this.value)" class="form-control"
               placeholder="Search by Invoice Number..." value="">

         </div>

      </div>
   </div>
   <div class="table-responsive">
      <table class="table table-bordered table-hover text-center">
         <thead class="table-dark">
            <tr>
               <th scope="col">Date</th>
               <th scope="col">Invoice Number</th>
               <th scope="col">Client Name</th>
               <th scope="col">Product Name</th>
               <th scope="col">Rate</th>
               <th scope="col">Status</th>
               <th scope="col">View</th>
            </tr>
         </thead>
         <tbody>
            <% orders.forEach(element => { %>
            <tr>
               <td><%= element.createdAtFormatted %></td>
               <td>INV-<%= element._id %></td>
               <td><%= element.userDetails[0].firstname %></td>
               <td><img src="<%= element.rateDetails[0].images[0] %>" alt=""><br>
                  <p><%= element.foodDetails[0].foodname %></p>
               </td>
               <td>
                  <ul class="list-unstyled text-start m-auto" style="max-width: 200px;">
                     <% if (element.foodDetails[0].offer > element.categoryDetails[0].offer) { %>
                     <li><%= element.items.quantity*(element.rateDetails[0].rate + element.rateDetails[0].rate*element.rateDetails[0].gst_per/100 +
                      element.rateDetails[0].rate * element.rateDetails[0].packing_per/100 +
                      element.rateDetails[0].rate * element.rateDetails[0].delivery_per/100 -
                      element.rateDetails[0].rate * element.foodDetails[0].offer/100) %></li>
                     <% } else { %>
                     <li><%= element.items.quantity*(element.rateDetails[0].rate + element.rateDetails[0].rate*element.rateDetails[0].gst_per/100 +
                           element.rateDetails[0].rate * element.rateDetails[0].packing_per/100 +
                           element.rateDetails[0].rate * element.rateDetails[0].delivery_per/100 -
                           element.rateDetails[0].rate * element.categoryDetails[0].offer/100) %></li>
                     <% } %>
                  </ul>
               </td>

               <td>
                  <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <%= element.items.status %>
                     </button>
                     <% if (element.items.status === "cancelled" || element.items.status === "delivered" || element.items.status === "waiting for approval" || element.items.status === "returned") { %>
                     <!-- Dropdown hidden for 'cancelled' and 'delivered' -->
                     <ul class="dropdown-menu d-none">
                     </ul>
                     <% } else { %>
                     <ul class="dropdown-menu">
                        <% if (element.items.status === "processing") { %>
                        <li><a class="dropdown-item" href="#"
                              onclick="updateStatus('<%= element._id %>','<%= element.items._id %>' ,'packing')">Packing</a>
                        </li>
                        <li><a class="dropdown-item" href="#"
                              onclick="updateStatus('<%= element._id %>','<%= element.items._id %>', 'onTheWay')">On the
                              Way</a></li>
                        <li><a class="dropdown-item" href="#"
                              onclick="updateStatus('<%= element._id %>','<%= element.items._id %>', 'delivered')">Delivered</a>
                        </li>
                        <% } else if (element.items.status === "packing") { %>
                        <li><a class="dropdown-item" href="#"
                              onclick="updateStatus('<%= element._id %>','<%= element.items._id %>', 'onTheWay')">On the
                              Way</a></li>
                        <li><a class="dropdown-item" href="#"
                              onclick="updateStatus('<%= element._id %>','<%= element.items._id %>', 'delivered')">Delivered</a>
                        </li>
                        <% } else if (element.items.status === "onTheWay") { %>
                        <li><a class="dropdown-item" href="#"
                              onclick="updateStatus('<%= element._id %>','<%= element.items._id %>', 'delivered')">Delivered</a>
                        </li>
                        <% } %>
                     </ul>
                     <% } %>
                  </div>
               </td>
               <td>
                  <form action="/admin/orderDetails">
                     <input type="hidden" value="<%= element._id %>" name="orderid">
                     <input type="hidden" value="<%= element.items.rate_id %>" name="rateid">
                     <input type="hidden" value="<%= element.userDetails[0]._id %>" name="userid">
                     <button type="submit" class="btn btn-primary">View</button>
                  </form>
               </td>


            </tr>
            <% }) %>
         </tbody>
      </table>
      <div id="pagination" style="text-align: center; margin-bottom: 20px;">
         <% for (let i = 1; i <= page; i++) { %>
         <button onclick="loadPage('<%= i %>')" class="btn btn-success">
            <%= i %>
         </button>
         <% } %>
      </div>
   </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


   function updateStatus(orderId, itemId, newStatus) {
      fetch('/admin/updateStatus', {
         method: 'POST',
         headers: {
            'Content-Type': 'application/json',
         },
         body: JSON.stringify({ orderId, itemId, newStatus }),
      })
         .then(response => response.json())
         .then(data => {
            if (data.success) {
               Swal.fire({
                  text: "Status changed successfully",
                  icon: "success",
                  timer: 3000, // Adjust duration here
                  showConfirmButton: false,
               });
               setTimeout(() => {
                  location.reload(); // Reload the page to reflect changes
               }, 3000); // Match the timer duration
            } else {
               Swal.fire({
                  text: "Failed to update status. Please try again.",
                  icon: "error",
                  timer: 3000,
                  showConfirmButton: false,
               });
            }
         })
         .catch(error => console.error('Error:', error));
   }


   let debounceTimer;

   function searchInvoice(value) {
      clearTimeout(debounceTimer);
      debounceTimer = setTimeout(() => {
         const currentPage = 1; // Reset to the first page for a new search
         window.location.href = `/admin/order?pagenumber=${ currentPage }&invoice=${ encodeURIComponent(value) }`;
      }, 700); // Adjust delay (in milliseconds) as needed
   }

   function loadPage(pageNumber) {
      const searchValue = document.getElementById('searchInput').value || '';
      window.location.href = `/admin/order?pagenumber=${ pageNumber }&invoice=${ encodeURIComponent(searchValue) }`;
   }

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>