<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<%- include('partials/admin') %>
<link rel="stylesheet" href="/usermanagement.css">
<div class="content">

  <h3 class="my-3">User Management</h3>

  <!-- Search Bar -->
  <div class="row search-bar">
    <div class="col-md-6 ">
      <div class="input-group">
        <span class="input-group-text bg-secondary text-light"><i class="fas fa-search"></i></span>
        <input type="text" id="searchInput" oninput="searchUser(this.value)" class="form-control"
          placeholder="Search by username..." value="<%= searcheduser || '' %>">
      </div>
    </div>
    <div class="col-md-6">
      <select name="" id="statusFilter" class="form-control w-50" onchange="filter()">
        <option value="<%= status %>" style="display:none;"><%= status === 'block' ? 'Blocked' : status === 'unblock' ? 'Unblocked' : 'All User' %></option>
        <option value="block">Blocked</option>
        <option value="unblock">Unblocked</option>
        <option value="all">All User</option>
      </select>
    </div>
    
  </div>

  <!-- Table -->
  <div class="table-responsive custom-table-bg">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Username</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <!-- Table displaying the users -->
      <tbody class="tableBody">
        <% if (userData && userData.length === 0) { %>
           <tr>
              <td colspan="5" class="text-center">No users found</td>
           </tr>
        <% } else { %>
           <% userData.forEach((element, index) => { %>
              <tr>
                 <td class="tableindex"><%= startIndex + index %></td>
                 <td class="tabledata"><%= element.firstname %> <%= element.lastname %></td>
                 <td class="tablephone"><%= element.phonenumber %></td>
                 <td class="tableemail"><%= element.email %></td>
                 <td class="action-icons">
                    <% if (element.is_blocked == true) { %>
                       <a class="text-dark" href="#" data-bs-toggle="modal" data-bs-target="#unblockUserModal" onclick="unblockfun('<%= element._id %>')"><i class="fa-solid fa-unlock"></i></a>
                    <% } else { %>
                       <a class="text-dark" href="#" data-bs-toggle="modal" data-bs-target="#blockUserModal" onclick="blockfun('<%= element._id %>')"><i class="fa-solid fa-lock"></i></a>
                    <% } %>
                 </td>
                 <td class="d-none isblocked" id="isblocked"><%= element.is_blocked %></td>
              </tr>
           <% }) %>
        <% } %>
     </tbody>
     
     

    </table>
    <div id="pagination" style="text-align: center; margin-bottom: 20px;">
      <% for (let i = 1; i <= page; i++) { %>
      <button onclick="loadPage('<%= i %>')" class="btn btn-success">
        <%= i %>
      </button>
      <% } %>
    </div>
  </div>

</div>

<!-- block User -->
<div class="modal fade" id="blockUserModal" tabindex="-1" aria-labelledby="blockUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="modal-content">
      <form action="/admin/blockuser" method="post">
        <input type="hidden" id="hideid" name="hideid">
        <div class="modal-body">
          <p>Do you want to block the user?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn btn-success">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- unblock User -->
<div class="modal fade" id="unblockUserModal" tabindex="-1" aria-labelledby="unblockUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-width">
    <div class="modal-content">
      <form action="/admin/unblockuser" method="post">
        <input type="hidden" id="unhideid" name="unhideid">
        <div class="modal-body">
          <p>Do you want to unblock the user?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn btn-success">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
<script>



  function blockfun(id) {
    document.getElementById('hideid').value = id
  }
  function unblockfun(id) {
    document.getElementById('unhideid').value = id
  }

  document.querySelectorAll(".isblocked").forEach((statusElement, index) => {
    if (statusElement.textContent.trim() === "true") {
      document.querySelectorAll(".tabledata")[index].style.color = "#616362"
      document.querySelectorAll(".tableindex")[index].style.color = "#616362"
      document.querySelectorAll(".tablephone")[index].style.color = "#616362"
      document.querySelectorAll(".tableemail")[index].style.color = "#616362"
    }
  });




  let debounceTimer;

  function searchUser(value) {
    clearTimeout(debounceTimer);
    debounceTimer = setTimeout(() => {
    let status = document.getElementById("statusFilter").value;
      const currentPage = 1; // Reset to the first page for a new search
      window.location.href = `/admin/usermanagement?pagenumber=${ currentPage }&user=${ encodeURIComponent(value) }&status=${status}`;
    }, 700); // Adjust delay (in milliseconds) as needed
  }

  function loadPage(pageNumber) {
    const searchValue = document.getElementById('searchInput').value || '';
    let status = document.getElementById("statusFilter").value;
    window.location.href = `/admin/usermanagement?pagenumber=${ pageNumber }&user=${ encodeURIComponent(searchValue) }&status=${status}`;
  }

  async function filter(){
    const currentPage = 1;
    const searchValue = document.getElementById('searchInput').value || '';
    let status = document.getElementById("statusFilter").value;
    window.location.href = `/admin/usermanagement?pagenumber=${ currentPage }&user=${ encodeURIComponent(searchValue)}&status=${status}`;
  }



</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if (successmessage && successmessage.length>0) { %>
<script>
  Swal.fire({
    text: "<%= successmessage %>",
    icon: "success"
  });
</script>
<% } %>


<% if (errormessage && errormessage.length>0) { %>
<script>
  Swal.fire({
    text: "<%= errormessage %>",
    icon: "error"
  });
</script>
<% } %>